@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Shadows+Into+Light&display=swap");
*,
*::before,
*::after {
    box-sizing: border-box;
    line-height: 1.5em;
}

:root {
    --body-bg: 
#2b2b2b;
    --font-family: "Open Sans", sans-serif;
    --font-color: 
#ffffff;
    --prime-color: 
#dd0a0a;
}

html {
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
}

body {
    padding: 0;
    margin: 0;
    overflow-wrap: break-word;
    font-family: var(--font-family);
    color: var(--font-color);
    background-color: var(--body-bg);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

a {
    all: unset;
    cursor: pointer;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.header {
    background-color: #882e2e70;
    border-bottom: 1px solid #ffffff27;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}
.header .wrap {
    max-width: 1200px;
    height: 80px;
    padding: 0 20px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.logo {
    align-items: center;
}
.logo a {
    font-size: 2rem;
    font-weight: bold;
    align-items: center;
    font-family: "Rockwell", cursive;
}
.logo a span {
    color: var(--prime-color);
}
.logo a::before {
    content: "";
    margin-right: 10px;
    width: 200px;
    height: 50px;
    background: url("https://i.ibb.co/TB583C0/Untitled-1.png") no-repeat center;
    background-size: 150px;
}

.icon-bar {
    display: none;
}

.navbar .close-nav {
    display: none;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    align-items: center;
}

.navbar li {
    padding: 0 0.6em;
}

.navbar a {
    font-size: 1.125rem;
    display: block;
    padding: 0.3em;
    font-weight: bold;
}
.navbar a:hover {
    color: var(--prime-color);
}

@media (max-width: 650px) {
    .container {
        font-size: 1rem;
    }
    .icon-bar {
        cursor: pointer;
        display: flex;
        align-items: center;
        border: 1px solid var(--prime-color);
        width: 50px;
        height: 50px;
        padding: 0 12px;
        border-radius: 3px;
    }
    .icon-bar:hover {
        background-color: 
#dd0a0a;
    }
    .icon-bar span {
        border-top: 2px solid var(--font-color);
        width: 100%;
    }
    .icon-bar span::before,
    .icon-bar span::after {
        content: "";
        border-bottom: 2px solid var(--font-color);
        display: block;
        height: 8px;
    }
    .overflow-none {
        overflow: hidden;
    }
    .navbar {
        position: fixed;
        width: 100%;
        height: 100%;
        transition: 0.2s linear;
        transform: scale(0);
        top: 0;
        left: 0;
        background-color: 
#2b2b2b;
        z-index: 9;
    }
    .navbar .close-nav {
        all: unset;
        font-size: 2.5rem;
        display: block;
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        cursor: pointer;
    }
    .navbar .close-nav:hover {
        color: 
#999999;
    }
    .navbar ul {
        flex-direction: column;
        align-items: center;
        padding: 2rem;
    }
    .navbar li {
        padding: 0.7rem 0;
    }
    .navbar a {
        font-size: 2rem;
        text-transform: uppercase;
    }
    .navbar a:hover {
        text-decoration: none;
    }
    .nav-scale {
        transform: scale(1) !important;
    }
}

.sicon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.sicon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.sicon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.instagram {
  background: #ec5ac8;
  color: white;
}

.telegram {
  background: #409df3;
  color: white;
}

.discord {
  background: #b034c0;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

.post-outer {
  padding: 16px;
  margin-top: 50px;
margin-left: 10px;
  height: 1500px; /* Used in this example to enable scrolling */
}